.container {
    display: flex;
    justify-content: center;
    width: 100%;
    img {
        display: flex;
        position: fixed;
        height: 690px;
        z-index: -1;
        width: calc(100% + 150px);
    }
}
