.container {
    display: flex;
    justify-content: center;
    width: 100%;
    img {
        display: flex;
        position: fixed;
        height: 690px;
        z-index: -1;
        width: 100vw;
    }
}

@media screen and (max-width: 1060px) {
	.container {
        display: flex;
        justify-content: center;
        width: 100%;
        img {
            display: none;
            position: fixed;
            height: 690px;
            z-index: -1;
            width: 100vw;
        }
    }
}

