@import '../../styles/variables.scss';
.packUploadWrapper {
	display: flex;
	flex-direction: column;
	width: 500px;
	input {
		margin-top: 0.5rem;
		height: 1.5rem;
		border: 1px solid $border-gray;
		border-radius: 4px;
	}
	textarea {
		margin-top: 0.5rem;
		height: 3rem;
		padding: 5px;
		font-family: inherit;
		border: 1px solid $border-gray;
		border-radius: 4px;
	}
	label {
		font-weight: 500;
		margin-top: 10px;
	}
	button {
		margin-top: 2rem;
		width: 10rem;
		height: 30px;
		cursor: pointer;
	}
	p {
		margin: 2px;
		color: $error;
	}
	@media screen and (max-width: 900px) {
		width: 400px;
	}
	@media screen and (max-width: 414px) {
		width: 280px;
	}
}
