@import "../../styles/variables.scss";

.profilePackContainer {
	width: 90vw;
	position: relative;
	top: 55px;
	.infoBackground {
		position: fixed;
		left: 0;
		right: 0;
		height: 370px;
		top: -55px;
		width: 100%;
		overflow: hidden;
		border-radius: 0px 0px 10px 10px;
		z-index: 1;
		@media screen and (max-width: 900px) {
			height: 370px;
		}
		img {
			top: -55px;
			z-index: 100;
			filter: blur(60px);
			transform: scale(3.1);
			border-radius: 5px;
			width: 100%;
		}
	}
	.sampleList {
		margin-top: 280px;
		width: 100%;
	}
}

.playerInner {
	display: flex;
	position: fixed;
	top: 55px;
	width: 85vw;
	height: 250px;
	align-items: center;
	border-radius: 6px;
	background-position: center;
	z-index: 2000;
	img {
		display: flex;
		border-radius: 5px;
		width: 200px;
		height: 200px;
		padding: 10px;
	}
	h1 {
		color: #fff;
	}
	p {
		color: #fff;
	}
}

.packInfo {
	margin-right: auto;
	margin-left: 10px;
	z-index: 1000;
	max-height: 250px;
}

.samplePlayer {
	width: 90%;
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}

.sampleList {
	margin-top: 150px;
	width: 35%;
}

.playPausePack {
	display: flex;
	justify-content: flex-start;
}

.modal {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-left: 45px;
	width: 1050px;
	min-height: 500px;
	border-radius: 10px;
	background-color: rgba(37, 34, 34, 0.7);
	p {
		display: flex;
		color: $white;
	}
	canvas {
		width: 1000px;
		height: 300px;
		@media screen and (max-width: 900px) {
			width: 600px;
		}
		@media screen and (max-width: 600px) {
			width: 350px;
			height: 200px;
		}
	}

	@media screen and (max-width: 900px) {
		width: 600px;
	}

	@media screen and (max-width: 600px) {
		width: 400px;
	}
	.changeYears {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: -45px;
		button {
			margin: 10px;
			width: 70px;
			height: 25px;
			font-weight: 300;
			font-size: 13px;
			border-width: 1px;
			@media screen and (max-width: 600px) {
				width: 40px;
				margin: 5px;
			}
		}
	}
}

@media screen and (max-width: 1060px) {
	.packInfo {
		overflow-y: scroll;
	}
}

@media screen and (max-width: 900px) {
	.packInfo {
		overflow: visible;
		p {
			display: none;
		}
		h1 {
			font-size: 1.5rem;
		}
	}
}

@media screen and (max-width: 414px) {
	.packInfo {
		overflow: visible;
		p {
			display: none;
		}
		h1 {
			font-size: 1.5rem;
		}
	}
}
