.root {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.bgAuthImage {
	width: 100vw;
	background-image: url('https://images.unsplash.com/photo-1576060974974-933acee13b58?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1469&q=80');
	background-position: center center;
	background-repeat: no-repeat;
	filter: blur(3px);
	height: 92vh;
	background-size: cover;
	-webkit-filter: blur(15px);
	filter: blur(4px);
	transform: scale(1.1);
}
