.root {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	overflow: hidden;
}

.bgAuthImage {
	width: 100vw;
	background-image: url(../../assets/images/auth-background-image.jpeg);
	background-position: center center;
	background-repeat: no-repeat;
	filter: blur(3px);
	height: 92vh;
	background-size: cover;
	-webkit-filter: blur(15px);
	filter: blur(4px);
	transform: scale(1.1);
}
