@import '../../styles/variables.scss';

.listItem {
	display: flex;
	padding: 7px;
	margin: 3px;
	border: 1px solid #f4f7f6;
	border-radius: 4px;
	list-style: none;
	&:hover {
		box-shadow: 0 2px 20px #e6f7f1;
		cursor: pointer;
	}
	li {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		.backgroundWave {
			background-size: 550px 35px;
			height: 35px;
			z-index: 48;
		}
		img {
			width: 50px;
			height: 50px;
			border-radius: 4px;
		}
		.iconChangeWrap {
			width: 60px;
			.sampleTime {
				display: block;
			}
		}
		.sampleName {
			font-size: 1em;
			margin-left: 50px;
			text-overflow: ellipsis;
		}
		.sampleBpm {
			font-weight: 700;
			margin-right: 30px;
		}
		.playPauseSample {
			display: none;
		}
		.sampleTime {
			margin: 0;
			font-size: 0.8rem;
			text-align: center;
		}
		&:hover {
			.playPauseSample {
				display: block;
			}
			.sampleTime {
				display: none;
			}
		}
		.rightWrap {
			display: flex;
			margin-left: auto;
		}
		.addInfo {
			display: flex;
			align-items: center;
			flex-direction: column;
			width: 30px;
			p {
				display: flex;
				width: 3px;
				height: 3px;
				margin: 2px;
				background-color: $gray;
				border-radius: 50%;
			}
		}
	}

	@media screen and (max-width: 900px) {
		li {
			.sampleName {
				font-size: 0.7rem;
			}
			.sampleBpm {
				font-weight: 500;
				margin-right: 10px;
				font-size: 13px;
			}
			&:hover {
				margin: 0;
				box-shadow: none;
				cursor: pointer;
			}
		}
	}

	@media screen and (max-width: 500px) {
		width: 420px;
		li {
			.sampleName {
				margin: 0;
				font-size: 0.5em;
				text-overflow: hidden;
			}
			&:hover {
				// width: 350px;
				box-shadow: none;
				cursor: pointer;
			}
		}
	}
}
