.appContainer {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.navbarBlock {
	display: flex;
	width: 100vw;
}

.pagesBlock {
	display: flex;
	justify-content: center;
	// width: 80vw;
}
