$black: #121214;
$white: #fff;
$blue: #03f;
$blue-light: rgb(127, 148, 252);
$lite-red: #d9544f;
$blue-light-var-1: #49c5b6;
$background: #f4f7f6;
$error: rgb(250, 64, 64);
$gray: rgb(138, 137, 137);
