.modalCourse {
	display: flex;
	height: 100vh;
	width: 100vw;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
	transition: 0.5s;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 2001;
}

.modalCourse.active {
	opacity: 1;
	pointer-events: all;
}

.samplesContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 30px;
	.likesSample {
		display: flex;
		padding: 7px;
		border: 1px solid #f4f8f7;
		border-radius: 5px;
		margin: 4px;
		&:hover {
			box-shadow: 0 15px 20px #e6f7f1;
			cursor: pointer;
		}
		li {
			display: flex;
			width: 320px;
			list-style: none;
			overflow: hidden;
			p {
				margin-left: 30px;
				width: 100%;
				font-size: 13px;
			}
			img {
				width: 50px;
				height: 50px;
				border-radius: 5px;
			}
		}
	}
}

.mobileModalWrapper {
	width: 400px;
	height: 400px;
	padding: 10px;
	background-color: white;
	overflow: scroll;
}
