.root {
	margin-top: 100px;
}

.sequencerControls {
	display: flex;
	align-items: center;
	width: 84%;
	margin: 0 auto;
	button {
		font-weight: 700;
		cursor: pointer;
		border: none;
		background-color: transparent;
	}
	.bpmControls {
		display: flex;
		align-items: center;
		margin-left: auto;
		input {
			height: 20px;
			width: 35px;
			padding: 4px;
			text-decoration: center;
			border-radius: 4px;
			border: 1px solid gray;
		}
		svg {
			display: flex;
			width: 25px;
			height: 25px;
			margin: 5px;
			margin-right: 15px;
		}
	}
}

.dropBoxes {
	display: flex;
	flex-direction: column;
}



.mobileModalWrapper {
	width: 400px;
	height: 400px;
	padding: 10px;
	background-color: white;
	overflow: scroll;
}

@media screen and (max-width: 1300px) {
	.sampleBox {
		align-items: center;
		width: 20px;
		height: 35px;
		margin: 3px;
		background-color: white;
		border: 2px solid black;
		border-radius: 5px;
	}
}

@media screen and (max-width: 900px) {
	.desktopModalWrapper {
		display: none;
	}
	.sampleBox {
		align-items: center;
		padding: 2px;
		width: 1px;
		height: 25px;
		margin: 1px;
		background-color: white;
		border: 2px solid black;
		border-radius: 5px;
	}
}
