.root {
	margin-top: 50px;
}

.sequencerControls {
	display: flex;
	align-items: center;
	width: 84%;
	margin: 0 auto;
	button {
		font-weight: 700;
		cursor: pointer;
		border: none;
		background-color: transparent;
	}
	.bpmControls {
		display: flex;
		align-items: center;
		margin-left: auto;
		input {
			height: 20px;
			width: 35px;
			padding: 4px;
			text-decoration: center;
			border-radius: 4px;
			border: 1px solid gray;
		}
		svg {
			display: flex;
			width: 25px;
			height: 25px;
			margin: 5px;
			margin-right: 15px;
		}
	}
}

.sequencerContainer {
	display: flex;
	justify-content: center;
}

.dropBoxes {
	display: flex;
	flex-direction: column;
}

.sampleBox {
	align-items: center;
	width: 30px;
	height: 45px;
	margin: 3px;
	background-color: white;
	border: 2px solid black;
	border-radius: 5px;
}

.sampleBox.active {
	background-color: red;
}

.samplesContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 30px;
	.likesSample {
		display: flex;
		padding: 7px;
		border: 1px solid #f4f8f7;
		border-radius: 5px;
		margin: 4px;
		&:hover {
			box-shadow: 0 15px 20px #e6f7f1;
			cursor: pointer;
		}
		li {
			display: flex;
			width: 320px;
			list-style: none;
			overflow: hidden;
			p {
				margin-left: 30px;
				width: 100%;
				font-size: 13px;
			}
			img {
				width: 50px;
				height: 50px;
				border-radius: 5px;
			}
		}
	}
}

.mobileModalWrapper {
	width: 400px;
	height: 400px;
	padding: 10px;
	background-color: white;
	overflow: scroll;
}

@media screen and (max-width: 1300px) {
	.sampleBox {
		align-items: center;
		width: 20px;
		height: 35px;
		margin: 3px;
		background-color: white;
		border: 2px solid black;
		border-radius: 5px;
	}
}

@media screen and (max-width: 900px) {
	.desktopModalWrapper {
		display: none;
	}
	.sampleBox {
		align-items: center;
		padding: 2px;
		width: 1px;
		height: 25px;
		margin: 1px;
		background-color: white;
		border: 2px solid black;
		border-radius: 5px;
	}
}
