@import '../../styles/variables.scss';

.inputContainer {
	display: flex;
	align-items: center;
	width: 100%;
	max-height: 2rem;
	padding: 0.8rem 0 0.8rem 2.5rem;
	border-bottom: 1px solid rgb(197, 195, 195);
	background-color: #fff;
	z-index: 2000;
	label {
		width: 7rem;
		margin-left: 2rem;
		font-size: 1.5rem;
		font-weight: 700;
	}
	.search {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		height: 30px;
		svg {
			position: absolute;
			height: 0.8rem;
			padding: 2px;
			cursor: pointer;
		}
		.searchIcon {
			fill: $clr-gray400;
			z-index: 99;
		}
		input {
			width: 2.2rem;
			height: 2.2rem;
			font-family: inherit;
			color: $clr-gray400;
			background-color: #f2f8ff;
			border: none;
			border-radius: 50%;
			outline: none;
			transition: 100ms width ease-in-out, 100ms padding ease-in-out,
				100ms border-radius ease-in-out;
		}
		.searchDelete {
			display: none;
			height: 1.2rem;
		}
		.searchClose {
			right: 0;
			fill: white;
			transition: 100ms fill ease-in;
			.search {
				width: 0%;
			}
		}
		&.open {
			justify-content: flex-start;
			input {
				height: 30px;
				width: 10rem;
				padding: 0px 60px 0px 60px;
				border-radius: 20px;
			}
			svg {
				height: 0.8rem;
				width: 25px;
				padding: 5px;
				position: absolute;
				cursor: pointer;
				&.searchClose {
					right: 0;
					fill: #767b91;
					transition: 500ms fill ease-in;
				}
				&.searchDelete {
					display: block;
					fill: #767b91;
					right: 40px;
				}
			}
			
		}
	}
}
