.samplesLabel {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 60px;
	margin: 3px;
	padding: 10px;
	border: 1px solid #f4f7f6;
	border-radius: 4px;
	.sample {
		display: flex;
		font-weight: 700;
	}
	.tags {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		height: 100%;
	}
	.bpm {
		margin-right: 50px;
		font-weight: 700;
	}
}

.sampleList {
	margin-top: 280px;
	width: 100%;
}

@media screen and (max-width: 900px) {
	.samplesLabel {
		min-height: 50px;
		.tags {
			margin: 8px;
			width: 290px;
		}
	}
}

@media screen and (max-width: 414px) {
	.samplesLabel {
		.bpm {
			width: 0;
		}
	}
}
