.samplesLabel {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	margin: 3px;
	padding: 10px;
	border: 1px solid #f4f7f6;
	border-radius: 4px;
	.sample {
		display: flex;
		font-weight: 700;
	}
	.tags {
		display: flex;
		align-items: center;
		height: 100%;
	}
	.bpm {
		width: 100px;
		font-weight: 700;
	}
}

.sampleList {
	margin-top: 280px;
	width: 100%;
}
