@import '../../styles/variables.scss';

.step {
	padding: 10px;
	font-weight: 700;
	color: $blue;
	.stepRed {
		color: $lite-red;
		.line {
			height: 1px;
			width: 100%;
			background-color: $lite-red;
		}
	}

	.stepBlue {
		color: $blue;
	}

	@media screen and (max-width: 414px) {
		font-weight: 400;
		font-size: 15px;
	}
}


