.stepContainer {
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.stepNames {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.stepUploadInfo {
	display: flex;
	justify-content: center;
	height: 300px;
	.stepsWrapper {
		width: 100%;
	}
}
