.stepContainer {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	justify-content: center;
}

.stepNames {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.stepUploadInfo {
	display: flex;
	justify-content: center;
	height: 300px;
}
