@import '../../styles/variables.scss';

.navbar {
	height: 10vh;
	background: #1b1919;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbarLogo {
	color: whitesmoke;
	text-decoration: none;
	font-size: 2rem;
	display: flex;
	align-items: center;
	width: 9rem;
	justify-content: space-between;
}

// .nav-items {
// 	width: 65vw;
// 	display: flex;
// 	margin-right: 2rem;
// 	justify-content: flex-end;
// }

.nav-item {
	list-style: none;
	margin-left: 2rem;
}

.nav-item a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: whitesmoke;
	font-size: 1.2rem;
	padding: 6px 16px;
	border-radius: 4px;
	cursor: pointer;
	transition: 0.3s all ease-out;
}

.nav-item a:hover {
	background: tomato;
}

.nav-item a span {
	cursor: pointer;
	margin-left: 0.7rem;
	font-size: 1.3rem;
}

.sidebar-toggle {
	display: flex;
	justify-content: flex-end;
	width: 65wv;
}

.sidebarToggleLogo {
	font-size: 2rem;
	color: whitesmoke;
}

.sidebar {
	position: absolute;
	top: 10vh;
	width: 16rem;
	left: -100%;
	background: #1b1919;
	height: 90vh;
	transition: 0.3s all ease-in-out;
}

.sidebar.active {
	left: 0%;
}

.sidebar-items {
	display: flex;
	align-items: center;
	flex-direction: column;
	transition: 0.2s all ease-out;
	font-size: 1.2rem;
}

.sidebar-item {
	width: 100%;
	height: 3rem;
	list-style: none;
	margin-top: 1rem;
	color: whitesmoke;
}

.sidebar-item a {
	cursor: pointer;
	font-size: 1.2rem;
	list-style: none;
	color: whitesmoke;
	display: flex;
	align-items: center;
	height: 100%;
	border-radius: 5px;
	justify-content: center;
	transition: 0.2s all ease-out;
}

.sidebar-item a span {
	margin-left: 1rem;
	font-size: 1.2rem;
}

.sidebar-item a:hover {
	background: tomato;
}

.sidebar .btn {
	margin-top: 2.4rem;
	width: 100%;
}

@media screen and (max-width: 900px) {
	.sidebar.active {
		width: 5rem;
	}

	.sidebar-item a span {
		display: none;
	}
}
