@import '../../styles/variables.scss';

.navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 55px;
	width: 100vw;
	background: rgba(0,0,0,0.7);
	a {
		text-decoration: none;
	}
}

.navbar.notAuth {
	justify-content: space-between;
	padding: 0 2rem 0px 2rem;
}

.navbarLogo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 5px;
	color: whitesmoke;
	text-decoration: none;
	font-size: 2rem;
}

.sidebarToggleLogo {
	display: none;
	font-size: 2rem;
	color: whitesmoke;
	@media screen and (max-width: 1060px) {
		display: flex;
	}
}

.avatar {
	display: flex;
	align-items: center;
	margin-right: 10px;
	img {
		width: 38px;
		height: 38px;
		border-radius: 100%;
	
	}
	@media screen and (max-width: 1060px) {
		margin-left: 20px;
		margin-right: 0;
	}
}

@media screen and (max-width: 900px) {
	.sidebar.active {
		width: 5rem;
	}
}
