@import '../../styles/variables.scss';

.navbar {
	height: 8vh;
	background: #1b1919;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
}

.navbar.notAuth {
	justify-content: space-between;
	padding: 0 2rem 0px 2rem;
}

.navbarLogo {
	color: whitesmoke;
	text-decoration: none;
	font-size: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 5px;
}

.sidebarToggleLogo {
	display: flex;
	font-size: 2rem;
	color: whitesmoke;
}

@media screen and (max-width: 900px) {
	.sidebar.active {
		width: 5rem;
	}
}
