.sidebar {
	position: absolute;
	top: 8vh;
	width: 16rem;
	left: 0;
	background: #1b1919;
	z-index: 1000;
	height: 92vh;
	transition: 0.3s all ease-in-out;
}

.sidebar.active {
	left: 0%;
}

@media screen and (max-width: 900px) {
	.sidebar.active {
		width: 4rem;
	}
	.sidebar a {
		button {
			span {
				display: none;
			}
		}
	}
}


