.sidebar {
	position: absolute;
	top: 55px;
	left: 0;
	width: 16rem;
	height: calc(100vh - 55px);
	z-index: 2001;
	background: #1b1919;
	transition: 0.3s all ease-in-out;
}

.sidebar.active {
	left: 0%;
}

@media screen and (max-width: 900px) {
	.sidebar.active {
		width: 4rem;
	}
	.sidebar a {
		button {
			span {
				display: none;
			}
		}
	}
}


