.packCard {
	position: relative;
	display: flex;
	flex-direction: column;
	img {
		width: 190px;
		height: 190px;
	}
	.playPauseCircle {
		display: flex;
		position: absolute;
		width: 100%;
		height: calc(100% - 40px);
		align-items: center;
		justify-content: center;
		button {
			background-color: transparent;
			border: none;
		}
	}
}
