%download {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 140px;
	width: 250px;
	border: 1px solid #ddddd9;
	margin: 0 auto;
}

.packCardWrapper {
	display: flex;
	width: 99%;
	.packCard {
		position: relative;
		display: flex;
		flex-direction: column;
		img {
			width: 190px;
			height: 190px;
		}
		.playPauseCircle {
			display: flex;
			position: absolute;
			width: 100%;
			height: calc(100% - 40px);
			align-items: center;
			justify-content: center;
			button {
				background-color: transparent;
				border: none;
			}
		}
	}
}
.drop {
	@extend %download;
}
.downloadSamples {
	@extend %download;
	margin-top: 30px;
}
