.skeleton {
    overflow: hidden;
}

.skeletonWrapper {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.shimmerWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: loading 2.5s infinite;
}

.shimmer {
    width: 40%;
    height: 100%;
    background: rgba(231, 230, 230, 0.2);
    transform: skewX(-45deg);
    box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.2);
}

.skeleton.image {
    width: 230px;
    height: 230px;
    border-radius: 4px;
    background: #ddd;
}

.skeleton.title {
    width: 30%;
    height: 13px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 4px;
    background: #ddd;
}

.skeleton.text {
    width: 70%;
    height: 10px;
    border-radius: 4px;
    background: #ddd;
}

@keyframes loading {
    0% {
        transform: translateX(-150%);
    }
    50% {
        transform: translateX(-60%);
    }
    100% {
        transform: translateX(150%);
    }
}
