.root {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
	.loaderPagination {
		position: absolute;
		bottom: 10px;
	}
}

.packCardContainer {
	padding: 10px;
	margin-right: 10px;
}
