@import '../../styles/variables.scss';

.root {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 60px;
	padding: 40px;
}

.sampleLoader {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 200px;
	border-radius: 5px;
	background-color: $white;
	text-align: center;
}

.packCardContainer {
	padding: 10px;
	margin-right: 10px;
}
