@import '../../styles/variables.scss';
.sliderContainer {
	position: relative;
	text-align: center;
	height: 50px;
	width: 550px;
}

.sliderWave {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -44%);
	z-index: -10;
}

// .cursor {
// 	position: absolute;
// 	height: 53px;
// 	background-color: blue;
// 	width: 1px;
// }
