.player {
	width: 100vw;
	position: fixed;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 24px 10px;
	background: rgba(209, 213, 245, 0.2);
	backdrop-filter: blur(8px);
	border-radius: 10px;
	left: 0;
	right: 0;

	.playerControls {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
		margin-top: 15px;
		justify-content: space-between;
		.play {
			display: flex;
		}
		.trackActive {
			display: flex;
			align-items: center;
			img {
				border-radius: 4px;
				width: 40px;
				height: 40px;
			}
			.trackInfo {
				margin-left: 20px;
				@media screen and (max-width: 414px) {
					margin-left: 4px;
				}
			}
		}
		.volumeAndTimer {
			display: flex;
			justify-content: center;
			width: 24%;
			padding-right: 10px;
			.timer {
				span {
					font-size: 16px;
				}
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.player {
		.playerControls {
			justify-content: space-between;
			.trackActive {
				display: flex;
				align-items: center;
				.trackInfo {
					padding-left: 10px;
					font-size: 14px;
				}
			}
			.volumeAndTimer {
				display: flex;
				.timer {
					display: flex;
					span {
						display: block;
						font-size: 13px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.player {
		.playerControls {
			justify-content: flex-start;
			.trackActive {
				display: flex;
				align-items: center;
				.trackInfo {
					padding-left: 10px;
					font-size: 14px;
				}
			}
			.volumeAndTimer {
				display: flex;
				width: 240px;
				.timer {
					display: flex;
					span {
						display: block;
						font-size: 13px;
					}
				}
			}
		}
	}
}
