.appContainer {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.navbarBlock {
	display: flex;
	position: fixed;
	width: 100vw;
	z-index: 2002;
}

.pagesBlock {
	display: flex;
	justify-content: center;
	height: 100vh;
	// margin-top: 55px;
}
