@import '../../styles/variables.scss';

%buttons {
	border: none;
	cursor: pointer;
	border-radius: 4px;
	height: 35px;
}

.platformBtn {
	.footer {
		@extend %buttons;
		color: #1d1b3b;
		border-radius: 4px;
		background-color: transparent;
		&:hover {
			background-color: rgba(230, 221, 240, 0.5);
			cursor: pointer;
		}
	}
	.black {
		@extend %buttons;
		color: $white;
		background-color: $black;
		border: none;
	}
	.blue {
		@extend %buttons;
		color: $white;
		background-color: $blue;
		width: 80px;
	}
	.blueDisabled {
		@extend %buttons;
		color: $white;
		background-color: $blue-light;
		width: 80px;
	}
}
