@import '../../styles/variables.scss';

%buttons {
	border: none;
	cursor: pointer;
	border-radius: 4px;
	height: 40px;
}

.platformBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	.footer {
		color: #1d1b3b;
		background-color: transparent;
		border-radius: 4px;
		@extend %buttons;
		&:hover {
			background-color: rgba(230, 221, 240, 0.5);
			cursor: pointer;
		}
	}
	.black {
		@extend %buttons;
		color: $white;
		background-color: $black;
		border: none;
	}
	.blue {
		@extend %buttons;
		color: $white;
		background-color: $blue;
		width: 80px;
	}
	.blueDisabled {
		@extend %buttons;
		color: $white;
		background-color: $blue-light;
		width: 80px;
	}
	.download {
		@extend %buttons;
		background-color: transparent;
		border: 1px solid rgb(160, 158, 158);
		height: 50px;
		svg {
			font-size: 20px;
		}
	}
	.samplePlayer {
		@extend %buttons;
		justify-content: space-around;
		width: 120px;
		background-color: $blue-light-var-1;
		color: #fff;
		font-size: 13px;
		border-radius: 25px;
	}
	.sampleItem {
		border: none;
		background-color: transparent;
		padding-right: 20px;
		padding-left: 20px;
	}
	.auth {
		@extend %buttons;
		background-color: transparent;
		border: 2px solid rgb(61, 181, 228);
		width: 150px;
		font-weight: 700;
		font-size: 16px;
		color: #fff;
		margin-top: 10px;
	}
	.signInOut {
		@extend %buttons;
		display: flex;
		align-items: center;
		background-color: transparent;
		border: 2px solid rgb(232, 239, 241);
		width: 8rem;
		font-weight: 700;
		font-size: 16px;
		color: #fff;
		// width: 100%;
		svg {
			margin-right: 2px;
		}
	}
	.update {
		display: flex;
		width: 80px;
		margin-right: auto;
		margin-top: 1.2rem;
		color: $white;
		font-size: 1rem;
		background-color: $blue;
		@extend %buttons;
	}
}
